/*
body {
	font-family: Georgia, serif;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
	font-size: 32px;
  font-family: Palatino, 'Palatino Linotype', serif;
  color: rgb(131, 213, 254);
  text-shadow: 2px 2px #010101;
  background-image:
    url("../img/starrynight.jpg");
  background-size: cover;
}

.hero {
	padding: 250px 0;
	margin: 30px;
}
*/


body, html {
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: rgb(131, 213, 254);
}

.pimg1, .pimg2, .pimg3 {
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	/*
	* Fixed gives you a parallax effect.
	* Change it to scroll for normal scrolling.
	*/
	background-attachment: fixed;
}

/* .pimg1 {
	background-image: url('../img/starrynight.jpg');
	min-height: 100%;
} */

.pimg2 {
	background-image: url('../img/unfocusedspace.jpg');
	min-height: 400px;
}

.pimg3 {
	background-image: url('../img/starrysky.jpg');
	min-height: 400px;
}

.section {
	text-align: center;
	padding: 50px 80px;
}

.section-light {
	background-color: #f4f4f4;
	color: #666;
}

.section-dark {
	background-color: #282e34;
	color: #ddd;
}

.ptext {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	color: rgb(131, 213, 254);
	text-shadow: 2px 2px #010101;
	font-size: 27px;
	letter-spacing: 8px;
}

.ptext .border-main {
	border-color: transparent;
}

.ptext .border-2 {
	border-color: transparent;
}

.ptext .border-3 {
	border-color: transparent;
}

/*
* Remove Parallax from mobile devices opening this webpage
*/
@@media(max-width: 568px) {
	.pimg1, .pimg2, .pimg3 {
		background-attachment: scroll;
	}
}
